*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  border-radius: 2px;
}

body {
  padding: 0;
  position: relative;
  --font-col: black;
  --main-headings: 7rem;
  --sub-headings: 5rem;
  --links-other: 1.25rem;
  --background-color: whitesmoke;
  --block-color: rgb(103, 171, 159);
  --sec-height: 900px;
  background-color: var(--background-color);
  --font-fam-headings: "Rajdhani";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-col);
}
#profile,
#projects,
#skills {
  height: var(--sec-height);
  width: 100%;
  padding: 10px;
}
.link {
  text-decoration: none;
  color: black;
}
